<footer>
        <div class="contact" id="contact">
            <h2 id="getintouch">Get in touch...</h2>

            <a href="https://github.com/raeesa99" target="_blank" class="contactButton" id="profile-link">
            <i class="fa-brands fa-github"></i>
            Follow me on Github
            </a>
            <a href="https://outlook.live.com/owa/" target="_blank" class="contactButton" id="mail">
            <i class="fa-solid fa-envelope"></i>
            Send me an email
            </a>
            <a href="tel:12345678901" target="_blank" class="contactButton" id="phone">
            <i class="fa-solid fa-phone"></i>
            Give me a call
            </a>
        </div>
</footer>