<nav id="navbar" class="navigation">
    <ul id="list">
        <li class="nav-item"><a href="/">Home</a></li>
        <li class="nav-item"><a href="/projects">Projects</a></li>
        <li class="nav-item"><a href="/2">Page 2</a></li>
        <li class="nav-item"><a href="/3">Page 3</a></li>
        <li class="nav-item"><a href="/4">Page 4</a></li>
        <li class="nav-item"><a href="#contact">Contact</a></li>
    </ul>
</nav>