<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
     {{> navbar}}
        <div class="container">
            {{{ body }}}
        </div>
    
    <script src="https://kit.fontawesome.com/014e65dcc4.js" crossorigin="anonymous"></script>
</body>
<footer>
        <div class="contact" id="contact">
        <h2 id="getintouch">Get in touch...</h2>

        <a href="https://github.com/raeesa99" target="_blank" class="contactButton" id="profile-link">
        <i class="fa-brands fa-github"></i>
        Follow me on Github
        </a>
        <a href="https://outlook.live.com/owa/" target="_blank" class="contactButton" id="mail">
        <i class="fa-solid fa-envelope"></i>
        Send me an email
        </a>
        <a href="tel:12345678901" target="_blank" class="contactButton" id="phone">
        <i class="fa-solid fa-phone"></i>
        Give me a call
        </a>
    </div>
</footer>
</html>
</html>