<h1>My Projects</h1>
<div class="projects">
    <a href="/pointplotter" target="_blank">pointplotter</a>
    <a href="/sierpinski" target="_blank">sierpinski's gasket</a>
    <a href="/dicegame" target="_blank">dicegame</a>
    <a href="/2playerdicegame" target="_blank">2playerdicegame</a>
</div>