<div class="countries" id="country-grid">

    <h1 id="countriesTitle">Countries I'd like to Visit</h1>

    <div class="countryTile">
        <p class="cTitle">Iceland</p>
        <p class="cDate"></p>
           <img width=400 class="cImage" src="images/northernlights.jpg" alt=""/> 
        <p class="cDescription">
            
        </p>
    </div>

    <div class="countryTile">
        <p class="cTitle">Cappadocia</p>
        <p class="cDate"></p>
           <img width=400 class="cImage" src="images/Cappadocia.jpg" alt=""/> 
        <p class="cDescription">
            
        </p>
    </div>

    <div class="countryTile">
        <p class="cTitle">Maldives</p>
        <p class="cDate"></p>
           <img width=400 class="cImage" src="images/maldives.jpg" alt=""/> 
        <p class="cDescription">
            
        </p>
    </div>

    <div class="countryTile">
        <p class="cTitle">Vietnam</p>
        <p class="cDate"></p>
           <img width=400 class="cImage" src="images/vietnam.jpg" alt=""/> 
        <p class="cDescription">
            
        </p>
    </div>
    
</div>