<div class="countries" id="country-grid">

    <h1 id="countriesTitle">Countries I've visited</h1>

    <div class="countryTile">
        <p class="cTitle">Morocco</p>
        <p class="cDate"></p>
           <img width=250 class="mImage" src="images/.jpg" alt=""/> 
        <p class="cDescription">
            
        </p>
    </div>

    <div class="countryTile">
        <p class="cTitle">Palestine</p>
        <p class="cDate"></p>
           <img width=250 class="mImage" src="images/.jpg" alt=""/> 
        <p class="cDescription">
            
        </p>
    </div>

    <div class="countryTile">
        <p class="cTitle">Turkey</p>
        <p class="cDate"></p>
           <img width=250 class="mImage" src="images/.jpg" alt=""/> 
        <p class="cDescription">
            
        </p>
    </div>
    
</div>