<div class="countries" id="country-grid">

    <h1 id="countriesTitle">Countries I'd like to Visit</h1>

    <div class="countryTile">
        <a target="_blank" href="https://www.onthegotours.com/blog/2018/01/10-interesting-facts-about-the-northern-lights/">
            <p class="cTitle">Iceland - The Northern Lights</p>
           <img width=400 class="cImage" src="images/northernlights.jpg" alt="Northern Lights"/>
           </a>
        <p class="cDescription">
            The Northern Lights occur when gas particles in the Earth's atmosphere collide 
            with charged particles from the sun's atmosphere. The electrons and protons 
            travel millions of miles from the sun to the earth on a solar wind.
        </p>
    </div>

    <div class="countryTile">
        <a target="_blank" href="https://www.onthegotours.com/blog/2017/02/10-interesting-facts-cappadocia/">
            <p class="cTitle">Turkey - Cappadocia</p>
           <img width=400 class="cImage" src="images/Cappadocia.jpg" alt="Cappadocia"/>
        </a>
        <p class="cDescription">
            Cappadocia's landscape was formed by volcanic erosion. 
            Thick ash solidified into soft rock, called tuff, 
            and over time the tuff rocks eroded with wind and water, creating the iconic fairy chimneys we see today.
        </p>
    </div>

    <div class="countryTile">
        <a target="_blank" href="https://www.factsinstitute.com/countries/facts-about-the-maldives/">
            <p class="cTitle">Maldives</p>
           <img width=400 class="cImage" src="images/maldives.jpg" alt="Maldives"/>
        </a> 
        <p class="cDescription">
            Whale sharks - the world's largest known fish - 
            are year-round residents of the waters of the Maldives, 
            making the country a prime spot for swimming with whale sharks.
        </p>
    </div>

    <div class="countryTile">
        <a target="_blank" href="https://www.rainforestcruises.com/guides/fun-facts-about-vietnam">
            <p class="cTitle">Vietnam</p>
           <img width=400 class="cImage" src="images/vietnam.jpg" alt="Vietnam"/> 
        </a>
        <p class="cDescription">
            Vietnam is the second-largest coffee producer in the world after Brazil. 
            Vietnamese coffee is served sweet and strong, on ice, often with sweetened condensed milk.
        </p>
    </div>
    
</div>