{{> navbar}}

<div class="flowers" id="flowers">

    <h1 id="flowersTitle">My Favourite Flowers</h1>

    <div class="flowerTile">
        <a target="_blank" href="https://www.bhg.com/gardening/trees-shrubs-vines/shrubs/hydrangea-facts/">
            <p class="fTitle">Hydrangea</p>
            <img width=350 class="fImage" src="images/hydrangea.jpg" alt="Hydrangea"/>
        </a>   
        <p class="fDescription">
            Hydrangea is from Greek descent: "Hydro" means water and "angos" means jar or vessel. 
            And in fact, hydrangeas need lots of water to thrive.
        </p>
    </div>

    <div class="flowerTile">
        <a target="_blank" href="https://www.bhg.com/gardening/flowers/facts-about-dahlias/#:~:text=5%20Little-Known%20Facts%20About%20Dahlias%201%201.%20There,5%205.%20There%20are%20no%20blue%20dahlias%20">
            <p class="fTitle">Dahlia</p>
            <img width=350 class="fImage" src="images/dahlia.jpg" alt="Dahlia"/>
        </a>   
        <p class="fDescription">
            Dahlias are named after 18th-century Swedish botanist Anders Dahl. 
            He actually categorized dahlias as a vegetable because of their edible tubers.
        </p>
    </div>

    <div class="flowerTile">
        <a target="_blank" href="https://connect-int.org/connections/2018/02/10-interesting-facts-about-tulips/#:~:text=10%20Interesting%20Facts%20About%20Tulips%201%20There%20are,expensive%20flower%20in%20the%20world.%20...%20More%20items">
            <p class="fTitle">Brownie Tulip</p>
            <img width=350 class="fImage" src="images/tulips.jpg" alt="Tulips"/>
        </a>   
        <p class="fDescription">
            The name "Tulip" originated from the Persian word "delband" meaning turban, given the flowers turban shape. 
            Another reason for its association with Turkey is because locals would often decorate their turbans with tulip stems.
        </p>
    </div>

</div>

{{> footer}}