<div class="movies" id="movie-grid">

    <h1 id="moviesTitle">My Favourite Movies</h1>

    <div class="movieTile">
        <a target="_blank" href="https://www.rottentomatoes.com/m/prisoners_2013">
            <p class="mTitle">Prisoners</p>
            
            <img width=250 class="mImage" src="images/prisoners.jpg" alt="Movie Poster"/>
        </a>  
        <p class="mDate">17/12/2013</p> 
        <p class="mDescription">
            Keller Dover (Hugh Jackman) faces a parent's worst nightmare when his 6-year-old daughter, Anna,
            and her friend go missing. The only lead is an old motorhome that had been parked on their street.
            The head of the investigation, Detective Loki (Jake Gyllenhaal), arrests the driver, 
            but a lack of evidence forces Loki to release his only suspect. Dover, knowing that his daughter's 
            life is at stake, decides that he has no choice but to take matters into his own hands.
        </p>
    </div>

    <div class="movieTile">
        <a target="_blank" href="https://www.rottentomatoes.com/m/blood_diamond">
            <p class="mTitle">Blood Diamond</p>
            
             <img width=250 class="mImage" src="images/bloodiamond.jpg" alt="Movie Poster"/>
        </a>
        <p class="mDate">08/12/2006</p>
        <p class="mDescription">
            As civil war rages through 1990s Sierra Leone, two men, a white South African mercenary (Leonardo DiCaprio)
            and a black Mende fisherman (Djimon Hounsou), become joined in a common quest to recover a rare gem that 
            has the power to transform their lives. With the help of an American journalist (Jennifer Connelly), 
            the men embark on a hazardous trek through rebel territory to achieve their goal.
        </p>
    </div>

    <div class="movieTile">
        <a target="_blank" href="https://www.rottentomatoes.com/m/inside_man">
            <p class="mTitle">Inside Man</p>
            
            <img width=250 class="mImage" src="images/insideman.jpg" alt="Movie Poster"/>
        </a>
        <p class="mDate">24/03/2006</p>
        <p class="mDescription">
            A tough detective (Denzel Washington) matches wits with a cunning bank robber (Clive Owen), as a tense 
            hostage crisis is unfolding. Into the volatile situation comes a woman named Madaline (Jodie Foster), 
            a mysterious power broker who has a hidden agenda and threatens to push a tense situation past the breaking point.
        </p>
    </div>

    <div class="movieTile">
        <a target="_blank" href="https://www.rottentomatoes.com/m/now_you_see_me">
        <p class="mTitle">Now You See Me</p>
        
            <img width=250 class="mImage" src="images/NYSM.jpg" alt="Movie Poster"/>
        </a>  
        <p class="mDate">31/05/2013</p> 
        <p class="mDescription">
            Charismatic magician Atlas (Jesse Eisenberg) leads a team of talented illusionists called the Four Horsemen. 
            Atlas and his comrades mesmerize audiences with a pair of amazing magic shows that drain the bank accounts 
            of the corrupt and funnel the money to audience members. A federal agent and an Interpol detective 
             intend to rein in the Horsemen before their next caper, and they turn to Thaddeus (Morgan Freeman), 
            a famous debunker, for help.
        </p>
    </div>
    
</div>
