

<div class="projects" id="project-grid">

    <h1 id="projectTitle">My Projects</h1>

    <a class="project-tile" href="/pointplotter" target="_blank">
        <p class="pTitle">Point Plotter</p>
        <img class="pImage" src="images/WTP.png" alt="Point Plotter"/>
    </a>

    <a class="project-tile" href="/sierpinski" target="_blank">
        <p class="pTitle">Sierpinski Triangle</p>
        <img class="pImage" src="images/ST.png" alt="Point Plotter Sierpinski Triangle"/>
    </a>

    <a class="project-tile" href="/dicegame" target="_blank">
        <p class="pTitle">Roll the Dice Game</p>
        <img class="pImage" src="images/RTD.png" alt="Roll the Dice Game"/> 
    </a>

    <a class="project-tile" href="/2playerdicegame" target="_blank">
        <p class="pTitle">2 Player Roll the Dice Game</p>
        <img class="pImage" src="images/2PRTD.png" alt="2 Player Roll the Dice Game"/>
    </a>

</div>