<div class="projects" id="project-grid">

    <h1 id="projectTitle">My Projects</h1>

    <a class="project-tile" href="/pointplotter" target="_blank">
        <p class="pTitle">Point Plotter</p>
        <img class="pImage" src="images/WTP.png" alt="Point Plotter"/>   
    </a>
    <p class="pDescription">
        A project that I transformed into a game where the user can plot X and Y coordinates
        within the gameboard to create whatever image they like. The maximum coordinates
        change depending on the viewer's screen size.
    </p>

    <a class="project-tile" href="/sierpinski" target="_blank">
        <p class="pTitle">Sierpinski Triangle</p>
        <img class="pImage" src="images/ST.png" alt="Point Plotter Sierpinski Triangle"/>
    </a>
    <p class="pDescription">
        A development on the point plotter project that sees a Sierpinski Triangle forming once the user plots
        any X and Y coordinate on the board. Try it for yourself!
    </p>

    <a class="project-tile" href="/dicegame" target="_blank">
        <p class="pTitle">Roll the Dice Game</p>
        <img class="pImage" src="images/RTD.png" alt="Roll the Dice Game"/> 
    </a>
    <p class="pDescription">
        A dice game that keeps score of the result of each roll. If the player lands a 6, the total is reset to 0. 
        If they reach a score of 15, they win.
    </p>

    <a class="project-tile" href="/2playerdicegame" target="_blank">
        <p class="pTitle">2 Player Roll the Dice Game</p>
        <img class="pImage" src="images/2PRTD.png" alt="2 Player Roll the Dice Game"/>
    </a>
    <p class="pDescription">
        A development on the dice game that allows 2 players to compete in reaching a score of 20 first.
        The winner's score is recorded on a leaderboard that grows as more users play the game.
    </p>

</div>