html, body {
    width: 100%;
    height: 100vh;
    margin: 0;
    background: #FAFAF6;
    font-family: 'Comfortaa', cursive;
} 

@media (prefers-reduced-motion: no-preference) {
    * {
      scroll-behavior: smooth;
      box-sizing:inherit;
    }
}

.home{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}

nav{
    border-bottom: solid 3px #124559;
    padding: 1%;
    width: 100%;
    height: 4%;
    opacity: 100%;
  }

  #list {
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
    margin: 5px;
  }

  nav > ul > li {
    list-style-type: none;
    color:#AEC3B0;
    margin: 0 0.3rem;
    display: block;
  }

  nav > ul > li > a:hover {
    color:#124559;
    cursor: pointer;
  }

  li > a {
    color: inherit;
    text-decoration: none;
    font-size:25px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;   
  }

  h1 {
    text-align: center;
    font-size: 50px;
    color: #01161E;
    margin-bottom: 25px;
  }

  h2 {
    text-align: center;
    font-size: 28px;
    color: #AEC3B0;
  }

  .contact {
    text-align: center;
    border-top: solid 3px #124559;
  }

  .contactButton {
    margin: 14px;
    padding: 8px;
  }

  .contact > a {
    color: #124559;
  }

  .contact > a:hover {
    color: #598392 ;
    cursor: pointer;
    text-decoration: none;
  }

  #getintouch {
    font-size: 20px;
  }

  i {
    margin: 4px;
  }

  footer {
    position: sticky;
  }

  .projects, .movies {
    padding: 55px;
    text-align: center;
  }

  .projects > a, .movies > a {
    text-decoration: none;
  }

  #projectTitle, #moviesTitle {
    padding-bottom: 18px;
    color:#AEC3B0
  }

  .pTitle, .mTitle {
    padding-top: 10px;
    font-size: 24px;
    color: #124559;
    text-decoration: underline;
  }

  .pTitle:hover {
    color: #598392;
    cursor: pointer;
  }

  .pImage, .mImage {
    border-radius: 10px;
    margin-bottom: 12px;
    box-shadow: 3px 3px 10px #01161E;
    filter:opacity(80%)
  }

  .pImage:hover, .mImage:hover {
    cursor: pointer;
    filter: none;
  }

  .pDescription, .mDescription {
    text-align: center;
    padding-left: 26%;
    padding-right: 26%;
    color: #598392;
  }

  .mDate {
    color: #AEC3B0;
  }
